<mat-card>
    <mat-card-content>
        <form class="example-form">
            <section>
                Imię gracza:
            </section>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="player.name" name="first">
            </mat-form-field>
            <section>
                <button mat-stroked-button (click)="onClick()">
                    ZAPISZ
                </button>
            </section>
        </form>
    </mat-card-content>
</mat-card>